<html>
<body>

Hi ${user.firstName},

You have recently asked for your password to be sent to you through your registered email address.
Please change your password as soon as possible follow this link:
<a href="http://www.icoin.com/user/resetPassword?token=${token}">http://www.icoin.com/user/resetPassword?token=${token}</a>

<p/>
<pre>
Regards,
The iCoin Team.
</pre>


</body>
</html>