<html>
<body>

Hi ${user.username},
<p/>
A request to reset your password has been submitted. Please change your password as soon as possible follow this link:
<a href="http://www.icoin.com/user/resetPassword?token=${token}">http://www.icoin.com/user/resetPassword?token=${token}</a>
<p/>
Regards,
<br/>
The iCoin Team.
</body>
</html> 