<html>
<body>

Hi ${username},
<p/>
Your password has been changed successfully with following info:
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ip: <b>${ip}</b>
<br/>
Datetime: <b>${time}</b>
<p/>

If you didn't

Regards,
<br/>
The iCoin Team.
</body>
</html>