<html>
<body>

Hi ${username},
<p/>
Your <b>withdraw password</b> has been changed successfully with following info:
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ip: <b>${ip}</b>
<br/>
Datetime: <b>${time}</b>
<p/>
Regards,
<br/>
The iCoin Team.
</body>
</html>